.card {
  position: relative;
  display: flex;
  gap: 48px;
  padding: 24px;
  border-radius: 24px;
  background: var(--color-white);
  width: 100%;
}

.avatarWrapper {
  position: relative;
  border: 3px solid var(--color-emphasis);
  padding: 9px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 50%;
}

.statusIndicator {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 12px;
  height: 12px;
  background: var(--color-green);
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  column-gap: 16px;
  margin-bottom: 8px;
  padding-right: 58px;
}

.category {
  color: var(--color-gray-400);
}

.metaList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}

.metaItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7px;
  position: relative;
}

.metaItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -16px;
  width: 1px;
  height: 16px;
  background-color: var(--border-semi);
}

.highlight {
  color: var(--color-green);
}

.iconHeart {
  stroke-width: 2;
}

.favButton {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  transition: color var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-hover);
  }
}

.isFavorite .iconHeart {
  fill: var(--color-accent);
  color: var(--color-accent);
  transition:
    fill var(--transition),
    color var(--transition);

  &:hover,
  &:focus-visible {
    fill: var(--color-accent-hover);
    color: var(--color-accent-hover);
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 32px;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.languagesList {
  display: inline-flex;
  gap: 4px;
}

.languagesList li:not(:last-child)::after {
  content: ",";
}

.langTag {
  line-height: 1.5;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  transition: color var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-hover);
  }
}

.langTag:disabled {
  color: var(--color-accent);
  text-decoration: none;
  cursor: text;
}

.icon {
  width: 16px;
  height: 16px;
}

.motionWrapper {
  overflow: hidden;
}

.readMoreButton {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-top: 16px;

  transition: color var(--transition);

  &:hover,
  &:focus-visible {
    color: var(--color-accent-hover);
  }
}

.experience {
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: 16px;
}

.reviewList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviewItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 12px;
  align-items: center;
}

.reviewAvatar {
  grid-row: 1 / 2;
}

.reviewerInfo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviewerName {
  color: var(--color-gray-400);
}

.reviewerRating {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 1.29;
}

.comment {
  grid-column: 1 / 3;
  margin-top: 16px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 32px;
}

.tag {
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 1px solid var(--border-semi);
  border-radius: 35px;
  transition:
    background-color var(--transition),
    border var(--transition);

  font-weight: 500;
  font-size: 14px;

  &:hover,
  &:focus-visible {
    background-color: var(--color-accent-hover);
    border: 1px solid var(--color-accent-hover);
  }

  &:disabled {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    cursor: text;
  }
}

.bookButton {
  background-color: var(--color-accent);
  border-radius: 12px;
  padding: 16px 48px;
  flex-shrink: 0;
  margin-top: 32px;
  transition:
    background-color var(--transition),
    color var(--transition);

  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;

  &:hover,
  &:focus-visible {
    background-color: var(--color-accent-hover);
  }
}
