.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.text {
    font-size: 20px;
    line-height: 1.2;
}