.header {
  width: 100%;
  background-color: var(--color-white);
  padding: 20px 0;
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 calc(var(--padding) * 2);
}

.headerContent > :nth-child(1) {
  justify-self: start;
}

.headerContent > :nth-child(2) {
  justify-self: center;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}
