.header {
  height: 88px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  transition: box-shadow var(--transition);
}

.headerScrolled {
  box-shadow: 0 4px 12px var(--shadow-light-color);
}

.headerContent {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr max-content 1fr;
  }
}

.headerContent > :nth-child(1) {
  justify-self: start;
}

.navLinks {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}

.buttonWrapper {
  display: flex;
  gap: 8px;
  justify-self: end;
}

.authButtons {
  display: none;

  @media only screen and (min-width: 620px) {
    display: flex;
  }
}

.mobileBurger {
  display: flex;
  justify-content: center;
  justify-self: end;

  @media only screen and (min-width: 1024px) {
    display: none;
  }
}
