.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  transition: box-shadow var(--transition);
}

.headerScrolled {
  box-shadow: 0 4px 12px var(--shadow-light-color);
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  width: 100%;
}

.headerContent > :nth-child(1) {
  justify-self: start;
}

.headerContent > :nth-child(2) {
  justify-self: center;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}
