.dropdownContainer {
  position: relative;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 999;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: calc(100% + 8px);
  right: 0;
  background: var(--color-white);
  border-radius: 12px;
  padding: 12px;
  width: 240px;
  z-index: 1000;
  box-shadow: 0 10px 20px var(--shadow-color);
}
