.wrapper {
  width: 100%;
  border: 1.5px dashed var(--color-accent);
  border-radius: 30px;
  padding: 40px clamp(24px, calc(24px + (40 * (100vw - 320px)) / 1120), 64px);
}

.statsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 40px 60px;
}

.statCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.statValue {
  white-space: nowrap;
  display: flex;
  align-items: center;

  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.statLabel {
  color: var(--color-gray-400);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 90px;
}
