.section {
  padding-bottom: 32px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .gridContainer > :last-child {
    grid-column: 1 / -1;
  }
}
