:root {
  --font-family: "Roboto", sans-serif;

  --transition: 300ms ease-in-out;

  --color-white: #ffffff;
  --color-gray-50: #f8f8f8;
  --color-gray-400: #8a8a89;
  --color-gray-900: #121417;

  --color-green: #38cd3e;

  --color-red: #d8000c;

  --midnight-smoke: rgba(18, 20, 23, 0.8);
  --border-light: rgba(18, 20, 23, 0.1);
  --border-semi: rgba(18, 20, 23, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --shadow-light-color: rgba(0, 0, 0, 0.1);

  --color-accent: #f4c550;
  --color-accent-hover: #ffdc86;
  --color-emphasis: #fbe9ba;
  --color-laptop-start: #eeb055;
  --color-laptop-end: #d08f38;

  --padding: 20px;
}

@media only screen and (min-width: 768px) {
  :root {
    --padding: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --padding: 64px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) transparent;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
  border: 2px solid var(--color-gray-50);
  background-clip: padding-box;
}

body {
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-gray-900);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-gray-900);
}

/* base reset */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

a,
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: none;
  border: none;
  color: inherit;
}

/* container */
.homeContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);
  max-width: 1440px;
}

.mainContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--padding) * 2);
  max-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
