:root {
  --font-family: "Roboto", sans-serif;

  --transition: 300ms ease-in-out;

  --color-white: #ffffff;
  --color-gray-50: #f8f8f8;
  --color-gray-100: #ecebeb;
  --color-gray-400: #8a8a89;
  --color-gray-900: #121417;

  --color-accent: #f4c550;
  --color-emphasis: #fbe9ba;
  --color-accent-hover: #ffdc86;
  --color-accent-active: #dfb13c;
  --laptop-start: #eeb055;
  --laptop-end: #d08f38;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--color-accent) var(--color-gray-50);
}

body {
  background-color: var(--color-white);
  color: var(--color-gray-900);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-gray-900);
}

:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* base reset */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-gray-900);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: none;
  border: none;
  color: inherit;
}

/* container */
.container {
  --container-padding: 20px;

  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);

  @media only screen and (min-width: 768px) {
    --container-padding: 32px;
  }

  @media only screen and (min-width: 1440px) {
    --container-padding: 64px;
    max-width: 1440px;
  }
}
