.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  width: 100%;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--color-accent);
  transition: color var(--transition);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 14px 16px;
  transition: background-color var(--transition);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-900);
    background-color: var(--color-accent-hover);
  }

  &:hover .icon,
  &:focus-visible .icon {
    color: var(--color-gray-900);
  }
}

.register {
  background-color: var(--color-gray-900);
  border-radius: 12px;
  padding: 14px 39px;
  flex-shrink: 0;
  transition:
    background-color var(--transition),
    color var(--transition);

  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.25;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-900);
    background-color: var(--color-accent-hover);
  }
}
